/* -------------------------------------
Style 
--------------------------------------*/

/* -------------------------------------
=> colors
=> Button
=> General
=> header
=> menu bar
=> Home
=> Services
=> About
=> plan
=> our works
=> porfolio
=> hello
=> Contact form
=> footer
--------------------------------------*/

/*-- Import CSS --*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* -------------------------------------
colors
--------------------------------------*/
:root {
  --tc: rgb(255, 255, 255);
  --bg: rgba(255, 255, 255, 0.3);
  --nw: linear-gradient(to bottom right, #50a3a2 0%, #78cc6d 100%);
  --bc1: rgb(49, 49, 58);
  --bc2: rgb(120, 204, 109);
  --lay: rgba(255, 255, 255, 0.165);
  --bgb: rgb(29, 29, 34);
}

/*--------------------------------------
Design 
--------------------------------------*/




/*--------------------------------------
General 
--------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--nw);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}


ul li {
  list-style-type: none;
  margin: 0px;
  cursor: pointer;
}

li a, a {
  text-decoration: none;
  font-size: smaller;
  color: var(--bc1);
}

.ct {
  color: var(--bc2);
}

.lay1 {
  background-color: var(--lay);
  border: 1px solid var(--lay);
}


.lay3 {
  padding: 2px 5px;
  background-color: var(--bc2);
  color: white;
  border-radius: 5px
}

.hidden {
  display: none;
}

.equal-flex {
  flex: 50%;
}


.top-border-radius {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.bottom-border-radius {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

/*--------------------------------------
Button 
--------------------------------------*/

button {
  background-color: var(--bc2);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
}


/*--------------------------------------
Header 
--------------------------------------*/

#topbar {
  padding: 0.42rem;
  z-index: 3;
}



/*--------------------------------------
Home  
--------------------------------------*/
img.mypic {
  max-width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: -1;
}

#name {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-top: 5px;
}

.media .d-flex {
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.media ul{
  font-size: 30px;
}


/*--------------------------------------
About  
--------------------------------------*/
.About {
  max-width: 550px;
  
}


/*--------------------------------------
Client 
--------------------------------------*/

img.client {
  width: 125px;
}


/*--------------------------------------
Works 
--------------------------------------*/

#works ul {
  display: flex;
  padding: 0px;
}
#works ul li {
  flex: 40%;
}